<main>
  <div>
    <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>

      <div *ngIf="isAuthenticated; else notAuthenticated">
        <h2>Welcome! You are logged in.</h2>
        <p>User Data:</p>
        <pre>{{ userData$ | async | json }}</pre> 

        <p>Access Token:</p>
        <pre>{{ getDecodedAccessToken(accessToken$ | async | json )}}</pre> 

        <p>ID Token:</p>
        <pre>{{ getDecodedAccessToken(idToken$ | async | json )}}</pre> 

        <button (click)="logout()">Logout</button>
      </div>
  
      <div>
        <ng-template #notAuthenticated>
          <h2>Please log in</h2>
          <button (click)="login()">Login</button>
        </ng-template>
      </div>

      <div>
        <!-- this should only work if the user is logged in -->
        <app-protected></app-protected>
      </div>
  </div>
</main>

<router-outlet />
